.jss6{
    display: flex;
    justify-content: center;
   
}
.jss7,.jss9{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.jss11{
    margin-left: 10px;
    /* margin-right: 20px; */
}
.jss8{
    color: #3bffae;
    font-weight: 500;
    margin-right: 10px;
    text-transform: uppercase;
}