.outer_box{
    display: flex;
    justify-content: center;
   
}
.inner_box{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.space{
    margin-left: 10px;
    /* margin-right: 20px; */
}
.big{
    color: #3bffae;
    font-weight: 500;
    margin-right: 10px;
    text-transform: uppercase;
}